<h2>LOGIN</h2>
<%= form_tag("/sessions/login", method: "post") do %>
 <%= label_tag(:username, "username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("login") %>
<% end %>
